@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --login-bg: #f8f3ff;
    --title-bg: #F5A70D;
    --buton-bg: #674baf;
    --light-pink: #e882e8;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.header img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    transition: 2s;
    
}
.header img: {
    transform: translateY(-30%);
    filter: brightness(80%);

}
.header h1{
    font-size: 5vw;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.contenedor-login {
    height: 550px;
    width: 1200px;
    margin: -60px auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.contenedor-informacion {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: #fff;
}

.contenedor-imagen {
    width: 50%;
    background-image: linear-gradient(to top, #F5A70D 0.5%, #f3b68d 100%);
}

.title {
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contenedor-inputs {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input, .button {
    width: 90%;
    height: 3.125rem;
    font-size: 1rem;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover {
    border: 2px solid var(--title-bg);
}

.button {
    width: 80%;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
    padding-right: 25px;
    cursor: pointer;
    background-color: #F5A70D;
}
.button:hover {
    box-shadow: 5px 8px 12px rgb(151, 150, 150);
    transition: all 0.4s ease-in-out;
    background-color: #f3b68d;
}

.contenedor-inputs p{
    margin: 0;
}

.contenedor-inputs a{
    text-decoration: none;
    color: #F5A70D;
    margin-left: 5px;
}

.contenedor-inputs a:hover{
    color: black;
}
.span{
    text-decoration: none;
    font-weight: 600; 
    cursor: pointer;
}