* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', sans-serif;
}

h1 {
  line-height: 50px;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #8191f2;
}

h1::after {
  display: block;
  content: "";
  height: 2px;
  width: 150px;
  background: #8191f2;
  margin: 5px auto 40px;
}


.text-center {
  text-align: center;
}

h2 {
  line-height: 50px;
  color: #8191f2;
}

h3 {
  line-height: 30px;
  padding-bottom: 20px;
}

h4 {
  padding-top: 25px;
  line-height: 40px;
  padding-bottom: 0px;
  font-size: 22px;
  font-weight: 900;

}


.c-main {
  color: #8191f2;
}

p {
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 15px;
}

.space-free {
  height: 100px;
}

.g-pad-bottom {
  padding-bottom: 80px;
}

section {
  padding-top: 50px;
  margin-top: 50px;
}


.form-control {
  background-color: rgba(255, 255, 255, 0);
}

.c-pr-i {
  color: #8191f2;
  padding-left: 10px;
  padding-right: 10px;
}

.go-marg {
  margin-top: 40px;
  color: #8191f2;
}

#home-sec {

  background:linear-gradient(0deg,rgba(0,0,0,0),rgba(0, 0, 0, 0.767)),url("../img/sangil.jpg")center center fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: block;
  height: auto;
  padding-top: 190px;
  padding-bottom: 200px;
  color: #c1c9fc;
}

.head-main {
  font-size: 53px;
  font-weight: 900;
  padding: 5px;
  text-transform: uppercase;

}

.head-sub-main {
  font-size: 23px;
  font-weight: 500;
  padding: 50px 20px 10px 20px;
  text-transform: uppercase;

}

.head-last {
  font-size: 18px;
  font-weight: 900;
  padding: 5px 20px 20px 20px;
  padding: 5px;
}

.main__container--row-tex-center-icons ul{
  list-style: none;
  font-size: 40px;
}

.main__container--row-tex-center-icons li{
  display: inline-block;
  padding: 15px;
}

.main__container--row-tex-center-icons li a{
  display: block;
  text-decoration: none;
  color:#c1c9fc;
}

.main__container--row-tex-center-icons li a:hover{
  color:#8191f2;
  transition: all .3s;
}

.navbar {
  font-size: 16px;
}

.navbar-inverse {
  background: #8191f2;
  min-height: 60px;
  padding-top: 5px;

}


.navbar-inverse {
  border-color: #8191f2;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #8191f2;
}

#price-sec {
  background-color: #f5f3f3;
}


.plan li {
  padding: 15px 0px;
  color: #000;
  font-size: 16px;
  border-bottom: 1px dotted #e1e1e1;
}

#contact-sec {
  background-color: white;
}

#services-sec{
  background-color: #f5f3f3;
}

.cnt {
  width: 100%;
  min-height: 400px;
  border: 1px solid #e1e1e1;
}


body {
  color: rgb(60, 60, 60);
}

.footer-widget p {
  margin-bottom: 27px;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 28px;
}


.up{
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #8191f2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loader {
  background: #8191f2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 0.5s ease-in-out;
}

.loader2 {
  clip-path: circle(0% at 50% 50%);
}


button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #c1c9fc;
  border: none;
  color: #fff;
  border-radius: 50px;
}

button:hover {
  letter-spacing: 0.25em;
  background: #5361a0;
  color: #5361a0;
  box-shadow: 0 0 45px #5361a0;
}

button::before {
  content: '';
  position: absolute;
  inset: 2px;
}

button span {
  position: relative;
  z-index: 1;
  color: #fff;
}

button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: '';
  position: absolute;
  border: 2px solid #c1c9fc;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::before {
  width: 20px;
  left: 20%;
}

button i::after {
  content: '';
  position: absolute;
  border: 2px solid #c1c9fc;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;

  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::after {
  width: 20px;
  left: 80%;
}


footer {
	padding:50px;
	background:#1c2545;
}

footer p {
	color:#fff;
}

footer h4 {
	margin-bottom:30px;
	text-transform:uppercase;
	text-shadow:none;
	font-weight:550;
	color:#8191f2;
}

footer .btn-gamp a {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: rgb(0, 0, 0);
	width: 180px;
	height: 60px;
	text-align: center;
	display: inline-block;
	line-height: 45px;
	margin-right:170px;
	margin-top:20px;
	background:#272727;
	border: 1px solid #fff;
	border-radius:0px;
}

footer .btn-gamp a:hover {
	background:#fff;
	color:#272727;
	opacity: 0.8;
	transition: all 0.5s;
}

footer .btn-gamp input {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #272727;	
	width: 180px;
	height: 60px;
	text-align: center;
	display: inline-block;
	line-height: 56px;
	border-radius:0px;
	border: 1px solid #fff;
}

.contact-info {
	color:#fff;
}

.contact-info ul {
	list-style:none;
	padding-left: 0;
}

.contact-info ul li i {
	margin-bottom:20px;
}

.widget {
  padding-left: 0;
}

ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
 
}

.sidebar-gallery li {
  margin: 0 10px 10px 0;
   border-radius:0px;
}

.sidebar-gallery li a {
  display: inline-block;
}

ul.social-network {
	list-style:none;
	margin-top:20px;	
	padding:10px;
	transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.sub-footer  {
	background:#161d37;
	padding:30px;
}

ul.social-network li {
	display:inline;
	margin: 0 50px;	
	font-size:25px;	
	margin-left:-10px;
}

ul.social-network li a {
	color:#c1c9fc;	
}
.social-network li:hover .fa-twitter {
  color: #00abf0;
}
.social-network li:hover .fa-facebook {
  color: #39579a;
}
.social-network li:hover .fa-instagram {
  color: #eb8984;
}

.copyright {
	margin-top:30px;
    text-align: right;
  color: #8191f2;
}

.copyright a {
	color:#fff;
	font-weight:600;
	font-size:12px;
	text-shadow:none;
}

:root{
  --color_TorresdelCastillo: #3b5998;
  --color_JoséAntonioGalán: #00acce;
  --color_LaPlaya: #e95950;
  --color_ElMalecon: #c8232c;
  --color_SagradaFamilia: #008000;
  --color_VillaOlimpica: #B51FD0;
  --color_SanMartin: #500AE5;
  --color_Santander: #3A3741;
  --color_TerminalDeTransporte: #BA54B4;
  --color_Carcel: #54BA71;
  --color_Porvenir1: #54B8BA;
  --color_Porvenir2: #AFBA54;
  --color_PlazaDeFerias: #BA5454;
  --color_BellaIsla: #5456BA;
  --color_ParqueElGallineral: #FF0000;
  --color_NuevoPabloVI: #000000;
  --color_AltosDelGallineral: #FFFFFF;
  --color_Altamira: #FF8000;
  --color_Ragonessi: #FFE400;
  --color_PabloVI: #E0FF00;
  --color_Fatima: #9EFF00;
  --color_MariaAuxiliadora: #00FF70;
  --color_Centro: #004DFF;
  --color_SanCarlos: #9300FF;
  --color_Hospital: #FF00EC;
  --color_Guanenta: #FF0083;
  --color_Almendros1: #523838;
  --color_Almendros2: #A19B9B;
  --color_LaGruta: #5E276A;
  --color_ElBosque: #111250;
  --color_CarlosMartinesSilva: #4A1150;
  --color_SanAntonio: #501111;
  --color_ElVergel: #8B0000;
  --color_ElCementerio: #8B2800;
  --color_RojaEspinilla: #8B7200;
  --color_Industrial: #728B00;
  --color_Coovip: #3D8B00;
  --color_ViaAeuropuertoLosPozos: #008B5B;
  --color_Acasias: #00678B;
  --color_CoviladosdelFonce: #140180;
  --color_Cementos: #6F0180;
  --color_VillasDeMochuelo: #063D31;
  --background-color: rgb(15, 17, 27);
}

.leyenda_a11{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}
[class^="color_"]{
  width: 15px;
  height: 15px;
  background-color: var(--color_TorresdelCastillo);
  margin-right: 8px;
  border-radius: 3px;
}
.color_JoséAntonioGalán{
  background-color: var(--color_JoséAntonioGalán);
}
.color_LaPlaya{
  background-color: var(--color_LaPlaya);
}
.color_ElMalecon{
  background-color: var(--color_ElMalecon);
}
.color_SagradaFamilia{
  background-color: var(--color_SagradaFamilia);
}
.color_SanMartin{
  background-color: var(--color_SanMartin);
}
.color_Santander{
  background-color: var(--color_Santander);
}
.color_TerminalDeTransporte{
  background-color: var(--color_TerminalDeTransporte);
}
.color_Carcel{
  background-color: var(--color_Carcel);
}
.color_Porvenir1{
  background-color: var(--color_Porvenir1);
}
.color_Porvenir2{
  background-color: var(--color_Porvenir2);
}
.color_PlazaDeFerias{
  background-color: var(--color_PlazaDeFerias);
}
.color_BellaIsla{
  background-color: var(--color_BellaIsla);
}
.color_ParqueElGallineral{
  background-color: var(--color_ParqueElGallineral);
}
.color_NuevoPabloVI{
  background-color: var(--color_NuevoPabloVI);
}
.color_AltosDelGallineral{
  background-color: var(--color_AltosDelGallineral);
}
.color_Altamira{
  background-color: var(--color_Altamira);
}
.color_Ragonessi{
  background-color: var(--color_Ragonessi);
}
.color_PabloVI{
  background-color: var(--color_PabloVI);
}
.color_Fatima{
  background-color: var(--color_Fatima);
}
.color_MariaAuxiliadora{
  background-color: var(--color_MariaAuxiliadora);
}
.color_Centro{
  background-color: var(--color_Centro);
}
.color_SanCarlos{
  background-color: var(--color_SanCarlos);
}
.color_Hospital{
  background-color: var(--color_Hospital);
}
.color_Guanenta{
  background-color: var(--color_Guanenta);
}
.color_Almendros1{
  background-color: var(--color_Almendros1);
}
.color_Almendros2{
  background-color: var(--color_Almendros2);
}
.color_LaGruta{
  background-color: var(--color_LaGruta);
}
.color_ElBosque{
  background-color: var(--color_ElBosque);
}
.color_CarlosMartinesSilva{
  background-color: var(--color_CarlosMartinesSilva);
}
.color_SanAntonio{
  background-color: var(--color_SanAntonio);
}
.color_ElVergel{
  background-color: var(--color_ElVergel);
}
.color_ElCementerio{
  background-color: var(--color_ElCementerio);
}
.color_RojaEspinilla{
  background-color: var(--color_RojaEspinilla);
}
.color_Industrial{
  background-color: var(--color_Industrial);
}
.color_Covid{
  background-color: var(--color_Covid);
}
.color_ViaAeuropuertoLosPozos{
  background-color: var(--color_ViaAeuropuertoLosPozos);
}
.color_Acasias{
  background-color: var(--color_Acasias);
}
.color_CoviladosdelFonce{
  background-color: var(--color_CoviladosdelFonce);
}
.color_Cementos{
  background-color: var(--color_Cementos);
}
.color_VillasDeMochuelo{
  background-color: var(--color_VillasDeMochuelo);
}
.social{
  color: #000;
  font-family: 'Comfortaa';
  line-height: 1.6;
}

.container_leyenda{
  margin-left: 10vh;
}