


:root {
    --text-xs: 0.75rem;
    --text-sm: 1.4rem;
    --text-md: 1.5rem;
    --text-lg: 2rem;
    --text-xl: 3rem;
}

.navbar {
    position: absolute;
    left: 0;
    right: 0;
    background-color: gray;
    position: sticky;
    top: 0;
    z-index: 10;
    
}

.navbar .contenedor .caja-navbar {

    display: flex;
    justify-content: space-around;

}
.navbar .contenedor .caja-navbar .logo-santander {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar .contenedor .caja-navbar .logo-santander img {
    height: 70%;
    margin-left: 10px;
    border-radius: 10px 10px;
    
}

.navbar .contenedor .caja-navbar nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.navbar .contenedor .caja-navbar nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar .contenedor .caja-navbar nav ul li {
    padding: 12px 12px;
}



.navbar .contenedor .caja-navbar nav ul li:hover {
    background-color: #D5D8DC ;
}

.navbar .contenedor .caja-navbar nav ul li a {
    text-decoration: none;
    color: black;
    font-size: var(--text-sm);
}

.navbar .contenedor .caja-navbar nav ul li a:hover{
    color: var(--subHeaderColor);
}


/*PARTE JS MENU LATERAL*/



.navm{
    display: flex;
    align-items:center;
    width: 100%;
    padding: 10px 30px;
    background-color: var(--items-color);
    position: fixed;
    border-bottom: 1px solid var(--border-color);
}

.navm span i{
    color: #fff;
    font-size: 2.7rem;
    cursor: pointer;
}
.aside{
    background-color: var(--items-color);
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    overflow-y: hidden;
    margin-top: 65px;
    transition: 0.7s;
    margin-block-end: 0px;
}
.aside:hover{
    overflow-y: auto;
}
.desplegar{
    transform: translateX(-100%);
}

.aside::-webkit-scrollbar{
    width: 8px;
}
.aside::-webkit-scrollbar-thumb{
    background-color: #909090;
    border-radius: 5px;
}

.container-svg{
    border-bottom: 1px solid var(--border-color);
    padding: 1px 1px;
    color: var(--text-color);
    text-decoration: none;
}
.container-svg div{
    color: #303440;
    padding: 10px;
    text-decoration: none;
    align-items: left;
    width: 100%;
    cursor: pointer;
}
.container-svg div:hover{
    background-color: #bbb5b5;
}
.container-svg div span{
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 150px;
}


.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
    font-size: 25px;
    left: 0px;
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: #F6F8FA;
}

.list{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
}

.list__item{
    list-style: none;
    width: 15%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}